@model ForumProject.Models.AppDBContext.Post


<div class="col-lg-12 col-md-12 pb-4 filter @Model.Category.Name.Replace(' ', '_')">
    <div class="card mt-2">
        <div class="card-header row">
            <div class="col-12 col-md-6">
                <label style="font-weight: bold">@Model.Theme</label>
            </div>
            <div class="col-12 col-md-6">
                <label><span class="text-info h5">@Model.Category.Name</span></label>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <img class="col-12 col-lg-4 p-1 text-center" src="@WebConst.ImagePath@Model.Image" alt="Card image cap"/>
                    <div class="col-12 col-lg-8">
                        <div class="row pl-3">
                            <div class="col-12">
                                <p>@Html.Raw(Model.Description.Substring(0, (int) (Model.Description.Length > 700 ? 700 : Model.Description.Length)))...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-12 pb-1 ">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-lg" style="height: 50px">Read Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
